* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  margin: 10px 0;
  padding: 6px 10px;
  border-radius: 15px;
}

.first-dark-mode-button {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.dark-container {
  background-color: black;
  color: white;
}

.second-dark-mode-button {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .first-dark-mode-button {
  background-color: white;
  color: black;
}

.dark-mode .dark-container {
  background-color: white;
  color: black;
}

.dark-mode .second-dark-mode-button {
  background-color: black;
  color: white;
}

.colourful-container {
  background-color: blueviolet;
}

.colourful-container h1 {
  color: yellow;
}

.colourful-container button {
  background-color: red;
  color: yellow;
  border: 1px solid black;
  font-weight: bold;
}

.colourful-container p {
  color: orange;
}

.colourful-mode .colourful-container {
  background-color: yellow;
}

.colourful-mode .colourful-container h1 {
  color: blueviolet;
}

.colourful-mode .colourful-container button {
  background-color: red;
  color: blue;
}

.colourful-mode .colourful-container p {
  color: red;
}
